<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Express Movies</title>
        <link rel="stylsheet" href="For-movies\expressmovies\public\style.css" />

    </head>
    <body>
        <div class="central">
        <h1> Details </h1>
        <div>
            <%= movieid %>
        </div>
        </div>
        
    </body>
</html>