<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Express Movies</title>
        <link rel="stylsheet" href="../public/style.css" />

    </head>
    <body>
        <div class="central">
        <h1> Films cultes </h1>
        <div>
            aze aze aze
        </div>
        </div>

    </body>
</html>